//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Thu 12 29 23:37:32 2022

IO_LOC "LED[5]" 16;
IO_PORT "LED[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[4]" 15;
IO_PORT "LED[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[3]" 14;
IO_PORT "LED[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[2]" 13;
IO_PORT "LED[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[1]" 11;
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[0]" 10;
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "TMDS_DATA2" 75;
IO_PORT "TMDS_DATA2" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_DATA1" 73;
IO_PORT "TMDS_DATA1" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_DATA0" 71;
IO_PORT "TMDS_DATA0" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "TMDS_CLOCK" 69;
IO_PORT "TMDS_CLOCK" IO_TYPE=LVCMOS33D PULL_MODE=NONE;
IO_LOC "CLOCK_27" 52;
IO_PORT "CLOCK_27" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "KEY_n[1]" 4;
IO_PORT "KEY_n[1]" PULL_MODE=UP;
IO_LOC "KEY_n[0]" 3;
IO_PORT "KEY_n[0]" PULL_MODE=UP;
